.staking_container {
    color: #fff;
    padding: 15px;
    @media (max-width: 768px) {
    }
}

// stake table
.stake-table-container {
    margin-top: 25px;
    padding: 25px 0 0;
    // min-width: 80%;
    background-color: #fff;

    @media(max-width:780px) {
        min-width: 260px;
    }

    .row-1 {
        display: flex;
        background-color: #fff;
        padding: 0 20px 25px;

        p {
            color: #000;
            font-weight: bold;
            font-size: 24px;
        }

        .logo-and-name {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 30%;

            img {
                height: 50px
            }

            p {
                margin-left: 40px;
            }
        }

        .apy-and-apr {
            flex: 20%;

            .apy-percent {
                padding: 6px 35px;
                border-radius: 5px;
                ;
            }

            .apy {
                background-color: green;
            }

            .apr {
                background-color: #2AEA8F;
                margin-top: 5px;
                ;
            }
        }

        .bfi-and-bdo {
            flex: 50%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

    }

    @media(max-width: 768px) {
        .row-1 {
            padding: 0 5px 10px;

            P {
                font-size: 18px;
            }

            .logo-and-name {
                padding-right: 4px;
                flex-direction: column;

                img {
                    height: 40px
                }

                p {
                    margin-left: 5px;
                }
            }


            .apy-and-apr {
                .apy-percent {
                    padding: 6px;
                    text-align: center;
                }
            }

        }

        .row-2 {
            .stake{
                border-bottom: 0.2px solid #979797;
            }
            // .trade-stake {
            //     .button-stake {
            //         display: flex;
            //     }
            // }
        }

    }

    .row-2 {
        display: flex;
        background-color: #fafafa;

        @media(max-width:768px) {
            flex-direction: column;
        }

        .stake {
            flex: 35%;
            padding: 35px 20px;

            p {
                color: rgb(134, 133, 133);
            }
        }

        .pending-reward {
            flex: 30%;
            display: flex;
            padding: 35px 20px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-left: 0.5px solid #e2e1e1;

            p {
                color: #000;
                font-weight: bold;
                font-size: 18px;
            }

            strong {
                color: green;
                font-size: 36px;
            }

            .button-claim {
                padding: 4px 0;
                color: #979797;
                border: 1.5px solid #979797;
                border-radius: 5px;
                width: 90%;
                font-weight: bold;
                text-align: center;
                // margin-top:15px;
                font-size: 17px;

                &:hover {
                    background-color: #4ff1a0;
                    color: #fff;
                }
            }
        }

        .trade-stake {
            .button-stake {
                padding: 4px 0;
                color: #35C77E;
                border: 1.5px solid #35C77E;
                border-radius: 4px;
                width: 90%;
                font-weight: bold;
                text-align: center;
                margin-top: 15px;
                font-size: 17px;

                &:hover {
                    background-color: #4ff1a0;
                    color: #fff;
                }
            }

            .input-stake {
                width: 90%;
                margin-top: 5px;
            }

            .button-setmax {
                color: green;

                &:hover {
                    color: #000;
                }
            }

            .ant-input-group {
                border-radius: 10px;

                .ant-input {
                    color: #979797;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }

                .ant-input-group-addon {
                    background-color: #fff;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }
}