.summary-container {
    padding: 0 15px 10px;

    @media(max-width:780px) {
        padding: 0 5px 10px;
    }
    // .list-market{
       
    .table-market {
        background-color: #fff;
        min-width: 700px;
        display: flex;
        margin-top: 30px;
        border-radius: 15px;
        text-align: center;
        flex-direction: column;
        padding: 10px;

        @media(max-width:767px) {
            min-width: 260px;
        }
        @media(max-width: 300px) {
            padding: 5PX 2PX;
        }
        p {
            color: #737796;
            margin-bottom: 0 !important;
        }

        .header-table {
            display: flex;
            padding: 5px 0;
            text-align: center;
            width: 100%;
            border-bottom: 1px solid #979797;

        }

        .col-1 {
            flex: 35%;
            display: flex;
            text-align: start;
            flex-direction: row;
            margin-left: 10px;

            @media(max-width: 767px) {
                margin-left: 4px;
            }
            @media(max-width: 300px) {
                img{
                    display: none;
                }
            }
        }

        .col-2,
        .col-3,
        .col-4,
        .col-5 {
            flex: 15%;
            padding: 0 4px;
        }


        .body-table {
            display: flex;
            flex-direction: column;

            .content-table {
                border-bottom: 1px solid #979797;

                .content-row {
                    display: flex;
                    padding: 5px 0;
                    text-align: center;
                    width: 100%;
                }
                .border-row-active{
                    border-left: 10px solid#4baa6a;
                }

            }

            .detail-market {
                margin-top: 10px;
                padding: 0 10px;

                .header-detail-market {
                    display: flex;
                    align-items: center;
                    background-color: #d8dae6;
                    justify-content: space-between;
                    border-radius: 10px;
                    padding: 0 10px;

                    .img-arrow {
                        padding-left: 10px;
                        border-left: 1px solid gray;
                    }
                }

                .item-detail-market {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 15px;
                }
            }

            p {
                color: #000;
                font-size: 16px;
                font-weight: 500;

                @media(max-width:480px) {
                    font-size: 14px;
                }
            }

            .supply-apy {
                color: #4baa6a;
            }
        }
    }
}
// }