.modal-input1 {
  .ant-modal-header {
    background: #F5AE0A;
  }
}
.modal-input2 {
  .ant-modal-header {
    background: #FFB8D2;
  }
}

  .ant-modal-content {
    border-radius: 40px;
  }
  .ant-modal-header {
    
    border-radius: 40px 40px 0 0;
    .ant-modal-title {
      font-size: 30px;
    }
  }

  .ant-modal-body {
    padding: unset;
  }

  .box-header {
    display: flex;
    width: 100%;
    margin-top: 20px;
    @media(max-width: 500px) {
      flex-direction: column;   
    }
    .logo-bnb {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: center;

      @media(max-width: 500px) {
        width: 100%;
      }
      
      .box-logo-btn {
            /* width: 75%; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* margin-right: -136px; */
        transform: translate(20%, 0%);

        
        @media(max-width: 500px) {
          transform: unset;
        }

        .box-logo-top {
          display: flex;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
          }
      
          span {
            font-size: 28px;
            font-weight: bold;
            margin-left: 8px;
          }

        }
        .box-logo-bottom {
          .price-bnb {
            font-size: 14px;
            color: #060b34;
          }
          .price-bnb-value {
            font-size: 18px;
          }
          .plus-percent {
            color: #2c9721;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      
    }

    .wallet-bottom {
      width: 50%;

      @media(max-width: 500px) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      .box-wallet {
        width: 80%;
        background: #3BC281;
        border-radius: 12px;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        > img {
          width: 35px;
          height: 35px;
        }
        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 10px;
          .value-bnt {
            font-size: 20px;
            font-weight: bold;
          }
  
          .value-price {
            font-size: 16px;
            font-weight: bold;
            color: #5b5b5b;
          }
        }
      }
      }
    }
    
  

  .input-bnb {
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrap-input-modal {
      position: relative;
      display: flex;
      padding: 4px;
      box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
      border-radius: 16px;

      .min {
        position: absolute;
        padding: 17px 13px;
        background: #f5ae0a;
        color: #fff;
        margin-left: -3px;
        z-index: 3;
        left: 5px;
        border: 1px solid #f5ae0a;
        border-radius: 16px;
        cursor: pointer;
        box-shadow: 0px 4px #d68718;
        transition: 0.3s;
        &:hover {
          background-color: #d68718;
       }
      }

      .max {
        position: absolute;
        padding: 17px 13px;
        background: #f5ae0a;
        color: #fff;
        margin-left: -3px;
        z-index: 3;
        transition: 0.3s;
        border: 1px solid #f5ae0a;
        right: 0;
        border-radius: 16px;
        box-shadow: 0px 4px #d68718;
        cursor: pointer;
        &:hover {
           background-color: #d68718;
        }
      }
    }
  }

  .ant-input-number.ant-input-number-lg {
    width: 420px;
    border-radius: 16px;

    @media(max-width: 500px) {
      width: 318px;
    }
  }

  input.ant-input-number-input {
    height: 60px;
    border: 3px solid #f5ae0a;
    font-size: 40px;
    text-align: center;
    border-radius: 16px;
  }

  .ant-tabs-tab {
    width: 350px;
    border: unset !important;
    background-color: #fff !important;

    @media(max-width: 500px) {
      width: 200px;
    } 

    & .ant-tabs-tab-btn {
      font-size: 20px;
      color: #a7a7a7 !important;
      font-weight: bold;
    }

  }

  .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {

    text-align: center;
    display: flex;
    justify-content: center;
    padding: 17px !important;
    margin-left: 0 !important;

    &:first-child {

    }
  }

  .ant-tabs-tab.ant-tabs-tab-active {
    margin-left: 0px;
    border-radius: 0px 30px 0px 0px !important;
    background-color: #EFEFEF !important;

    .ant-tabs-tab-btn {
      color: #000 !important;
    }
  }

  .ant-tabs-nav {
    margin-bottom: 0 !important;
  }

  .ant-tabs-content-holder {
    background-color: #EFEFEF;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px; 
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .tab-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media(max-width: 500px) {
      flex-direction: column;
    }

    .box-1,
    .box-2 {
      width: 50%;
      padding: 0 40px;

      @media(max-width: 500px) {
        width: 100%;
      }

      .title {
        text-align: left;
        width: 100%;
        font-size: 16px;
        display: block;
        margin-bottom: 16px;
        color: #888;
        font-weight: 500;
        margin-top: 12px;
      }
    }

    .box-supply-rate {
      .inner-supply-rate {
        justify-content: space-between;
        margin-bottom: 16px;
        align-items: center;

        .left-supply-rate {
          display: flex;
          align-items: center;
        }

        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 50%;
          width: 26px;
          height: 26px;
        }

        span {
          font-size: 18px;
          font-weight: bold;
          color: #060b34;
        }
      }


      .inner-distribution {
        justify-content: space-between;
        align-items: center;

        .left-supply-rate {
          display: flex;
          align-items: center;

          img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
          }

          span {
            font-size: 18px;
            font-weight: bold;
            color: #060b34;
          }

        }

        span {
          font-size: 18px;
          font-weight: bold;
          color: #060b34;
        }

      }
    }

  }
  .button-supply {
    margin-bottom: 30px;
    .modal-btn {
      padding: 10px 137px;
      border: none;
      background-color: #3bc281;
      border-radius: 15px;
      box-shadow: 0px 4px #28a066;
      font-size: 25px;
      color: #fff;
      margin-top: 25px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #04b25e;
      }

      @media (max-width: 500px) {
        padding: 10px 96px;
      }
    }

    .wallet-bottom {
      width: 45%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
      
    }
  }


  .inline-line {
    display: flex;
  }