* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$handheld: 1024px;
$mobile: 640px;
$mobile-landscape: 480px;
$smallDesktop: 960px;

@mixin respond-to($media) {
    @if $media==handhelds {
        @media only screen and (max-width: $handheld) {
            @content;
        }
    }

    @if $media==smallDesktop {
        @media only screen and (max-width: $smallDesktop) {
            @content;
        }
    }

    @if $media==mobile {
        @media only screen and (max-width: $mobile) {
            @content;
        }
    }

    @if $media==mobile-landscape {
        @media only screen and (min-width: 320px) and (max-width: $mobile-landscape) {
            @content;
        }
    }
}

.ant-layout {
    background-image: linear-gradient(#010217, #0F1430) !important;
    p,
    ul {
        margin-bottom: 0;
    }
}

//header
.bLending_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    button{
        color: #fff;

    }
    .btn-toggle {
        display: none;
        height: 35px;
        // background:none;
        border-radius: 5px;
        &:hover{
        border: 1px solid #f5ae0a;

        }
    }

    .logo_title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    p {
        color: #fff;
        margin-left: 10px;
        font-weight: bold
    }

    .header_nav {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            padding: 0 5px;
        }

        a {
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;

            &:hover {
                color: #ffb60e;
            }
        }

        .active {
            color: #404770;
        }
    }

    .menu-wrapper {
        // height: 0;
        display: none;
    }

    .text--menu {
        color: #797D9B !important;
        border: 1px solid #404770;
        border-radius: 6px;
    }

    .account_button {
        display: flex;

        .balance {
            display: flex;
            padding: 5px 10px;
            // background-color: rbga(15, 20, 48);
            border-radius: 3px;

            p {
                color: #4E516C;
            }
        }

        .button_right_header {
            color: #4E516C;
            padding: 5px 10px;
            background-color: #F8BA02;
            border-radius: 3px;
        }
    }


    @media only screen and (max-width: 780px) {
        .header_nav,
        .account_button {
            display: none !important;
        }

        ul~div {
            display: none;
        }

        .btn-toggle,
        .mobile-menu,
        .menu-wrapper {
            display: inline-block !important;
        }
    }
}

//body
#main-content {
    margin: auto;
    max-width: 1200px;
    min-height: 750px;
}

.blending-container {
    // font-family: fontRegular;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#010217, #0F1430);
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

//drawer menu
.ant-drawer {
    .ant-drawer-content {
        background-color: #0F1430;

        .ant-drawer-header {
            background-color: #0F1430;

            .ant-drawer-title {}
        }

        .ant-drawer-body {
            padding: 20px;

            .mobile-menu {
                li {
                    list-style: none;
                    padding: 10px;

                    a {
                        color: #fff;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}