.table_wrapper {
  margin: auto;
  // min-width: 580px;
  width: 50%;
  padding: 10px 15px;
  margin-top: 25px;
  @media (max-width: 1200px) {
    // min-width: 450px;
    // width: 48%;
  }
  @media (max-width: 768px) {
    width: 96%;
    padding: 0 10px;
  }

  p {
    color: #fff;
    margin: 10px;
  }

  .ant-table-wrapper {
    .ant-table {
      padding: 10px 0 10px;
      border-radius: 10px;
      @media (max-width: 768px) {
        padding: 10px 2px;
      }
      .ant-table-container {
        .ant-table-content {
          table {}
        }
      }
    }
  }
  .ant-table-thead{
    .ant-table-cell:nth-child(4) {
      text-align: center;
    }
  }
  .ant-table-row {
    .ant-table-cell:nth-child(4) {
      text-align: center;
    }
  }

  .ant-table-row:hover>td {
    background: #fafafa;
  }

  .ant-table-thead>tr>th {
    color: #676978 !important;
    font-weight: bold;
    padding: 10px;
    background: none;
    // text-align: center;

    @media (max-width: 768px) {
      font-size: 14px !important;
      padding: 5px !important;
    }
  }


  .ant-table-tbody {
    >tr>td {
      padding: 6px !important;
      // text-align: center;

      @media (max-width: 768px) {
        padding: 5px !important;
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: -6px;
    background-color: #1D63AD;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

}


