.home-content { 
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    border-radius: 15px;
    align-items: center;
    margin-top: 100px;
    position: relative;
    height: 136px;
    margin-bottom: 32px;
    

    @media(max-width: 768px) {
        margin: 30px 15px;
    }
    @media(max-width: 500px) {
        height: 500px;
        flex-direction: column;
    }

    &:after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 2px;
        border-radius: 15px;
        /* background: linear-gradient(to right, #3589b9, #f1af0d); */
        /* -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); */
        /* -webkit-mask-composite: destination-out; */
        /* display: flex; */
        /* width: 100%; */
        /* height: 200px; */
        border: double 1px transparent;
        border-radius: 20px;
        background-image: linear-gradient(#0B0E28,#0B0E28), radial-gradient(circle at top left, #3589b9,#f1af0d);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

    .common-colum {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .supply-balance {
        flex-basis: 33.3%;
        z-index: 2;
        @media(max-width: 500px) {
            margin-bottom: 50px;
        }
    
        .title {
            color: #55c67e;
            font-size: 20px;
            padding-bottom: 10px;

            @media(max-width: 500px) {
                padding-bottom: 20px;
            }
        }
    
        .price {
            color: #fff;
            font-size: 38px;
            @media(max-width: 768px) {
                font-size: 26px;
            }
            @media(max-width: 768px) {
                font-size: 36px;
            }
        }
       
    }
    
    .net-apy-percent {
        position: relative;
        @media(max-width: 500px) {
            width: 100%;
        }
        .title {
            color: #276e31;
            font-size: 20px;
            font-weight: 700;
            z-index: 4;
            top: 10px;
            position: relative;
        }
        .percent {
            font-weight: bold;
            color: #0c0e21;
            font-size: 66px;
            position: relative;
            z-index: 5;
        }

        &:after {
            content: "";
            display: block;
            width: 254px;
            height: 140px;
            /* background: red; */
            position: absolute;
            z-index: 3;
            top: -6px;
            box-shadow: 0px 6px #567e4e;
            right: -22%;
            border-radius: 80px;
            background: #75d08b;
            border: 2px solid #23f85a;
            background: linear-gradient(
        90deg
        , rgba(117, 208, 139, 0.8407738095) 0%, rgba(117, 208, 139, 0.8351715686) 35%, #a7c967 100%);
            @media (max-width: 768px) {
                width: 222px;
                right: -17%;
            }
            
            @media(max-width: 500px) {
                width: 82%;
                right: 36px;
            }

            // @media(max-width: 375px) {
            //     right: 32px;
            // }
        }

        &:before {
            content: "";
            display: block;
            width: 300px;
            height: 164px;
            z-index: 2;
            position: absolute;
            left: -72px;
            top: -15px;
            background: #75d08b;
            background: linear-gradient(
        90deg
        , #75d08b 0%, #75d08b 35%, #b5b839 100%);
            border-radius: 85px;

            @media(max-width: 768px) {
                // width: 100%;
                // left: unset;
                // border-radius: unset;
                width: 260px;
                left: -45px;
            }

            @media(max-width: 500px) {
                width: 100%;
                left: unset;
                border-radius: unset;
            }
        }
    }

    .borrow-balance {
        flex-basis: 29.3%;
        z-index: 2;
        @media(max-width: 500px) {
            margin-top: 50px;
        }
        .title {
            color: #f5ae0a;
            padding-bottom: 10px;
            font-size: 20px;
            @media(max-width: 500px) {
                padding-bottom: 20px;
            }
        }
        .price {
            color: #fff;
            font-size: 38px;

            @media(max-width: 768px) {
                font-size: 26px;
            }
            @media(max-width: 768px) {
                font-size: 36px;
            }
        }

    }
}


.borrow-limit {
    
    margin-top: 50px;
    width: 50%;
    margin: 66px auto;
    display: flex;
    flex-direction: b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @media (max-width: 768px) {
        margin: 15px auto;
    }

    p.borrow-limit-title {
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .box-percent-limmit {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .borrow-percent {
            color: #f5ae0a;
            font-size: 20px;
            margin: 0 8px;

            @media(max-width: 500px) {
                font-size: 16px;
            }
        }

        .borrow-price {
            font-size: 20px;
            color: #666984;
            margin: 0 8px;

            @media(max-width: 500px) {
                font-size: 16px;
            }
        }
        .box-item {
            display: flex;
            list-style: none;
            border: 1px solid #60649e;
            border-radius: 8px;
            li {
                span {
                    width: 20px;
                    height: 26px;
                    margin: 5px;
                    background-color: #262843;
                    display: block;
                    border-radius: 8px;

                    @media(max-width: 768px) {
                        width: 18px;
                    }

                    @media(max-width: 667px) {
                        width: 14px;
                    }

                    @media(max-width: 500px) {
                        width: 4px;
                        margin: 4px;
                    }
                
                }

                span.active {
                    background-color: #f5ae0a;
                }
            }
        }
    }
}